# Dependencias
node_modules/

# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Reportes
reports/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos comprimidos
*.zip
*.rar
*.tar.gz
